header {
    border-bottom: 1px solid var(--header-border-cl);
  }
  .header-nav {
    display: none;
    @include mq(tab) {
      display: flex;
    }
    @include mq(desk) {
      display: flex;
    }
  }
.main-nav {
    display: flex;
    align-items: center;
  }
.site-nav {
    display: flex;
    margin-left: 87px;
  }
.site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  
    color: var(--title-text-color);
  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }
.site-nav_current-color:visited {
    color: var(--accent-color);
  }
.site-nav__nav-link {
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      border: 2px solid #2196f3;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }
.con-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin-left: 84px;
    @include mq(desk) {
      flex-direction: row;
      align-items: center;
      gap: 30px;
      margin-left: 315px;
    }
  }
.con-nav__text-link {
    display: flex;
  
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1.16;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  @include mq(desk) {
    font-size: 14px;
    line-height: 1.14;
  }
  }
.con-nav__item-svg {
    margin-right: 10px;
    fill: currentColor;
  }
