.benefits-section {
    background-color: var(--accent-bgc-color);
}
.service-section {
    padding-top: 0;
    @include mq(not-desk) {
        display: none;
    }
}
.footer-section {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--bgc-dark-section);
}
.team-section {
    background-color: var(--bd-section-team);
}