:root {
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --accent-bgc-color: #ffff;
    --title-text-color: #212121;
    --logo-accent-color: #000;
    --address-secondary-color: rgba(255, 255, 255, 0.6);
    --bgc-dark-section: #2f303a;
    --border-cl: #eeeeee;
    --bd-section-team: #f5f4fa;
    --header-border-cl: #ececec;
    --bgc-secondary-section: #e5e5e5;
  }